.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #05071F, #431FA0);
}

.button
{
    -fx-background-color: transparent;
    -fx-text-fill : #E4EEFD;
    -fx-font-size : 13px;
}

.button:hover{
    -fx-background-color : #431FA0;
}

.button:pressed
{
    -fx-background-color : #05071F;
}

.menu-button
{
    -fx-background-color:transparent;
    -fx-text-fill : #E4EEFD;
    -fx-font-size : 13px;
}

.menu-button:hover
{
    -fx-background-color : #431FA0;
}

.menu-button:pressed
{
    -fx-background-color : #05071F;
}
.menu-button .label
{
    -fx-background-color:transparent;
    -fx-text-fill: #E4EEFD;
}

.menu-item .label
{
    -fx-text-fill: #E4EEFD;
}

.menu-item:focused
{
    -fx-background-color: darkgray;
}

.menu-item:focused .label
{
    -fx-text-fill: #431FA0;
}

.context-menu
{
    -fx-background-color: #05071F;
    -fx-pref-width: 256;
}